@mixin position($type:null, $top:null, $right:null, $bottom:null, $left:null, $zindex:null) {
  @if $type { position: $type; }
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
  @if $zindex { z-index: $zindex; }
}
