// global variables
$fontSizesMin: 10 !default;
$fontSizesMax: 40 !default;

// functions and mixins

// rem calc
@function rem-calc($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

// position @mixin with conditional arguments
@mixin position($type:null, $top:null, $right:null, $bottom:null, $left:null, $zindex:null) {
  @if $type { position: $type; }
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
  @if $zindex { z-index: $zindex; }
}

// imports
@import 'custom';
@import 'bootstrap';

// generarting font sizes based on grid breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $size from $fontSizesMin through $fontSizesMax {
      .font-size#{$infix}-#{$size} {
        font-size: #{$size}px;
      }

      @if $size < 26 {
        $size: $size + 1;
      } @else {
        $size: $size + 2;
      }
    }
  }
}

// additional helpers
img {
  object-fit: cover;
}

img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.mw-none {
  max-width: none;
}
